#  **Pandas Assingment-4**

(Based on IPL matches and deliveries dataset)


Matches- <a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


Deliveries- <a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import io
from google.colab import files

In [0]:
uploaded = files.upload()

Saving deliveries.csv to deliveries.csv

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
matches = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))

In [0]:
matches

      id  season       city  ...          umpire1          umpire2 umpire3
0      1    2017  Hyderabad  ...      AY Dandekar         NJ Llong     NaN
1      2    2017       Pune  ...   A Nand Kishore           S Ravi     NaN
2      3    2017     Rajkot  ...      Nitin Menon        CK Nandan     NaN
3      4    2017     Indore  ...     AK Chaudhary    C Shamshuddin     NaN
4      5    2017  Bangalore  ...              NaN              NaN     NaN
..   ...     ...        ...  ...              ...              ...     ...
631  632    2016     Raipur  ...   A Nand Kishore     BNJ Oxenford     NaN
632  633    2016  Bangalore  ...     AK Chaudhary  HDPK Dharmasena     NaN
633  634    2016      Delhi  ...        M Erasmus    C Shamshuddin     NaN
634  635    2016      Delhi  ...        M Erasmus        CK Nandan     NaN
635  636    2016  Bangalore  ...  HDPK Dharmasena     BNJ Oxenford     NaN

[636 rows x 18 columns]

In [0]:
deliveries = pd.read_csv(io.StringIO(uploaded['deliveries.csv'].decode('utf-8')))
deliveries

        match_id  inning  ... dismissal_kind    fielder
0              1       1  ...            NaN        NaN
1              1       1  ...            NaN        NaN
2              1       1  ...            NaN        NaN
3              1       1  ...            NaN        NaN
4              1       1  ...            NaN        NaN
...          ...     ...  ...            ...        ...
179073     11415       2  ...            NaN        NaN
179074     11415       2  ...            NaN        NaN
179075     11415       2  ...        run out  KH Pandya
179076     11415       2  ...            NaN        NaN
179077     11415       2  ...            lbw        NaN

[179078 rows x 21 columns]

In [0]:
new=deliveries.merge(matches,left_on='match_id',right_on='id')

        match_id  inning  ...       umpire2 umpire3
0              1       1  ...      NJ Llong     NaN
1              1       1  ...      NJ Llong     NaN
2              1       1  ...      NJ Llong     NaN
3              1       1  ...      NJ Llong     NaN
4              1       1  ...      NJ Llong     NaN
...          ...     ...  ...           ...     ...
150455       636       2  ...  BNJ Oxenford     NaN
150456       636       2  ...  BNJ Oxenford     NaN
150457       636       2  ...  BNJ Oxenford     NaN
150458       636       2  ...  BNJ Oxenford     NaN
150459       636       2  ...  BNJ Oxenford     NaN

[150460 rows x 39 columns]

In [0]:
#  Q1.- Make a pivot table of top 10 bowlers(in terms of wickets) with over(1-20) showing no. of wickets.  [Dificult-]

In [0]:

mask_1 = deliveries['dismissal_kind']=='caught'
mask_2 = deliveries['dismissal_kind']=='bowled'
mask_3 = deliveries['dismissal_kind']=='lbw'
mask_4 = deliveries['dismissal_kind']=='stumped'
mask_5 = deliveries['dismissal_kind']=='caught and bowled'
mask_6 = deliveries['dismissal_kind']=='hit wicket'
new2= deliveries[mask_1 | mask_2 |mask_3 | mask_4 |mask_5 | mask_6]





new2['bowler'].value_counts().head(10) 



mask_7 = new2['bowler']=='SL Malinga'
mask_8 = new2['bowler']=='A Mishra'
mask_9 = new2['bowler']=='Harbhajan Singh'
mask_10 = new2['bowler']=='PP Chawla'
mask_11 = new2['bowler']=='DJ Bravo'
mask_12 = new2['bowler']=='B Kumar'
mask_13 = new2['bowler']=='R Ashwin'
mask_14 = new2['bowler']=='UT Yadav'
mask_15 = new2['bowler']=='SL Malinga'
mask_16 = new2['bowler']=='RA Jadeja'
df = new2[mask_7 | mask_8 | mask_9 | mask_10 | mask_11| mask_12 | mask_13 | mask_14 | mask_15 | mask_16 ]





df.pivot_table(index='bowler',columns='over', aggfunc='count') ## per over wicket taken by the bowler

                 ball                         ... wide_runs
over               1     2     3     4    5   ...        16    17    18    19    20
bowler                                        ...
A Mishra          1.0   NaN   NaN   4.0  1.0  ...      14.0   7.0   6.0   5.0   6.0
B Kumar          17.0   7.0  12.0   3.0  4.0  ...      12.0   8.0  16.0  19.0  23.0
DJ Bravo          NaN   1.0   2.0   2.0  1.0  ...      13.0   9.0  29.0  10.0  29.0
Harbhajan Singh   5.0   5.0   1.0   7.0  4.0  ...       7.0   8.0   6.0   4.0   1.0
PP Chawla         NaN   2.0   1.0   1.0  2.0  ...      11.0  11.0   6.0   2.0   7.0
R Ashwin          7.0   1.0   5.0   5.0  9.0  ...      15.0   4.0   7.0   1.0   1.0
RA Jadeja         NaN   NaN   NaN   NaN  2.0  ...       3.0  11.0   5.0   4.0   3.0
SL Malinga       11.0  11.0   2.0   3.0  5.0  ...      18.0  14.0  25.0  32.0  19.0
UT Yadav          6.0   8.0   7.0  13.0  5.0  ...       7.0   8.0  11.0  11.0  12.0

[9 rows x 380 columns]

In [0]:
# Q2.- Make a function for batting profile of any batsman:-   [Medium+]
def profile(batsman):
  innings=new[new['batsman']==batsman].nunique()[0]
  Total_Runs=new[new['batsman']==batsman].sum()[15]
  man_of_match=matches[matches['player_of_match']==batsman].count()[0]
  fours=new[new['batsman']==batsman].groupby('batsman_runs').count().loc[4][1]
  sixes=new[new['batsman']==batsman].groupby('batsman_runs').count().iloc[5][1]
  boundaries = fours + sixes
  print('Name: ',batsman )
  print('Innings: ',innings)
  print('Total Runs: ',Total_Runs)
  print('No. of MOM(Man of the match): ',man_of_match)
  print('No. of boundries: ',boundaries)

Ex- 

V Kohli:

Innings:  

Total Runs: 

No. of MOM(Man of the match):

No. of boundries:

In [0]:
profile('V Kohli')

Name:  V Kohli
Innings:  141
Total Runs:  4423
No. of MOM(Man of the match):  11
No. of boundries:  544

In [0]:
# Q3.- Write a function to return top-4 batsman at a venue. Take venue as input.

In [0]:
def venue_leader(venue):
  print(new[new['city']==venue].groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(4))

In [0]:
venue_leader('Delhi')

batsman
V Sehwag      933
DA Warner     673
G Gambhir     668
KD Karthik    568
Name: batsman_runs, dtype: int64

In [0]:
# Q4.- No. of matches per season played in Mumbai.

In [0]:
matches[matches['city']=='Mumbai'].groupby('season').count().iloc[:,:1]

        id
season
2008    10
2010    13
2011    16
2012     8
2013     8
2014     7
2015    11
2016     4
2017     8

In [0]:
# Q5. - Top-3 Player in terms of most no. of catches.

In [0]:
deliveries[deliveries['dismissal_kind']=='caught'].groupby('fielder').count().sort_values(by=['player_dismissed'],ascending=False).iloc[0:3,[18]]

            player_dismissed
fielder
KD Karthik               109
SK Raina                  99
MS Dhoni                  98